.bg-model-duplicate {
  @extend .bg-warning-light;
}

.icon-server-connecting {
  content: '' !important;
  font-family: $font-family-icon;
  border-style: none;
  background: $loader-icon-small 0 0 no-repeat;
  background-position: center !important;
  // align-content: center;
  // vertical-align: middle;
  // background-size: 18px !important;
}
