[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin
Exec=/usr/pgadmin/bin/pgadmin
Icon=pgadmin
Type=Application
Categories=Application;Development;
MimeType=text/html
Comment=Management tools for PostgreSQL
Keywords=database;db;sql;query;administration;development;
